.layer-canvas-container {
  cursor: default;
}

.layer-canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* Prevent context menu on long press */
.layer-canvas-container,
.layer-canvas {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: none;
}
