/* PixelGrid styles */

.pixel {
  box-sizing: border-box;
  border: 0.1vw solid transparent;
  transition: border-color 0s;
}

.pixel-light:hover {
  border-color: #000000;
}

.pixel-dark:hover {
  border-color: #fefefe;
}
