.App {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.navbar {
  background-color: #2c3e50;
  color: white;
  display: grid;
}

.nav-buttons {
  display: grid;
}

.nav-buttons button {
  background-color: #34495e;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #1abc9c;
}

.nav-buttons button.active {
  background-color: #1abc9c;
}


